* {
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
    outline: none;

}
.all {
    background-color: #ffffffab;
}
body {
   
    background-color: rgb(0, 255, 255);
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.logo {
    margin: 0 auto;
    
}
.banner {
    width: 100%;
    height: 100%;

}
.navbar .navbar-nav {
    position: absolute;
    border-top:2px solid #0095ff;
    border-bottom:2px solid #0095ff ;
} 
.navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;

}
.navbar .navbar-nav a:hover {
    color: rgb(255, 0, 0);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ff0000;
    transform: scaleX(0);
}
.navbar.navbar-nav a:hover::after{
    transform: scaleX(0.5rem);
    transition: 0.2s linear;
}
.navbar .opsi {
    display: none;
    background-color:#00ff7b;
    border: 3px solid #ffffff;
}
.menuhp {
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    border-bottom:2px solid #0095ff;
    border-top: 2px solid #009dff;
}
.bttentang {
    background-color: #00ff7b;
    border: 3px solid #ffffff;
} 
.btweb {
    background-color:#00ff7b;
    border: 3px solid #ffffff;
}
.btig {
    background-color:#00ff7b;
    border: 3px solid #ffffff;
}
.visi {
    width: 95%;
    height: 80%;
}
.wira {
    border: solid #000000;
    background-color: #0000003f;

}
.fotowira {
    width: 15%;
    height: 15%;
    float: left;
}
.wiraright {
right: -10%;
    text-align:justify;
}

.materi {
    border: 2px solid #000000;
    background-color: #ff00008c;
}
.pixelabb {
    border: #000000a3;
    background-color: #0095ff74;
}
.ptpixel {
    margin-top: -70px;
    float: right;
    width: 20%;
    height: 20%;
}
.leftfont {
    float: left;
    font-size: small;
}
footer {
    background-color: #00ff7b;
    border: 5px solid #ff0000;
}
.bawah {
    width: 100%;
    height: 100%;
}

/* laptop*/
@media (max-width:1366px) {
    html {
        font-size:  75%;
    }
     .navbar .opsi {
        display: inline-block;
        }
.navbar .navbar-nav {
            position: absolute;
            top: 100%;
            right: -100%;
            background-color:#ffffffa7;
        
            width: 30rem;
            height: 100vh;
            transition :0.3s; 
        }
        .navbar .navbar-nav.active {
         right: 0;

        }
}
/* tablet*/
@media (max-width:768px) {
    html {
        font-size:  62.5%;
    }


    .navbar .opsi {
        display: inline-block;
        }
.navbar .navbar-nav {
            position: absolute;
            top: 100%;
            right: -100%;
            background-color:#ffffffa7;
        
            width: 30rem;
            height: 100vh;
            transition :0.3s; 
        }
        .navbar .navbar-nav.active {
         right: 0;

        }
    }